@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-sans antialiased;
    -webkit-tap-highlight-color: transparent;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  html::-webkit-scrollbar {
    display: none;
  }

  body {
    @apply bg-black text-white font-sans select-none;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  *,
  *::before,
  *::after {
    -webkit-user-select: none;
    user-select: none;
  }

  input,
  textarea,
  select,
  [contenteditable="true"] {
    -webkit-user-select: text;
    user-select: text;
  }

  img,
  a {
    -webkit-user-drag: none;
    user-drag: none;
  }
}